@media screen and (max-width:600px){
    #sidebar.OpenSidebar .itemDescripition{
    width: 200px;
    height: auto;
}
#sidebar.OpenSidebar{
    min-width: 60%;
}

main{
    z-index: 1;
    position: fixed;
    padding-left: calc(82px + 20px);
}
#sidebar{
    z-index: 2;
}
}